<footer class="contain">
  <ul>
    <li><a href="http://www.sztnet.com/thisSite/aboutUs/" target="_blank">关于我们</a></li>
    <li><a href="http://www.sztnet.com/thisSite/mobileApps/" target="_blank">移动应用</a></li>
    <li><a href="http://www.sztnet.com/thisSite/contribution/" target="_blank">欢迎投稿</a></li>
    <li><a href="http://www.sztnet.com/thisSite/bizService/" target="_blank">业务服务</a></li>
    <li><a href="http://www.sztnet.com/thisSite/we-media/" target="_blank">自媒入驻</a></li>
    <li><a href="http://www.sztnet.com/thisSite/feedback/" target="_blank">反馈有礼</a></li>
    <li><a href="http://www.sztnet.com/thisSite/partnership/" target="_blank">合作共建</a></li>
    <li><a href="http://www.sztnet.com/thisSite/legalNotice/" target="_blank">法律声明</a></li>
    <li><a href="http://www.sztnet.com/thisSite/contact/" target="_blank">联系方式</a></li>
    <li><a href="http://www.sztnet.com/thisSite/donate/" target="_blank">捐助本站</a></li>
  </ul>
  <span>© 2010&ndash;<?php echo date('Y')?>&nbsp;上证通网&nbsp;版权所有</span>
  <span style="display:none;"><script type="text/javascript" src="https://s5.cnzz.com/z_stat.php?id=1276112486&web_id=1276112486"></script></span>
  <script>(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=11033271430119132646' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script>
</footer>