<script>$(document).ready(function(){$("#csrcBranch caption").click(function(){$("#csrcBranch tr").toggle();});});</script>
<div class="tb-offset">
<table class="tb-sep-v2 td-high smaller" id="csrcBranch">
  <caption class="high" style="background-color:#043D74; color:#fff;"><i class="iconfont icon-bumen"></i>&nbsp;中国证监会地方监管局</caption>
  <tr>
   <th rowspan="2">东</th>
    <td><a href="http://www.csrc.gov.cn/pub/shandong/sdfdqyxx/" target="_blank">山东</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/qingdao/qdfdqyxx/" target="_blank">青岛</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/anhui/ahfdqyxx/" target="_blank">安徽</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/jiangsu/jsfdqyxx/" target="_blank">江苏</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/shanghai/shfdqyxx/" target="_blank">上海</a></td>
  </tr>
  <tr>
    <td><a href="http://www.csrc.gov.cn/pub/jiangxi/jxfdqyxx/" target="_blank">江西</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/zhejiang/zjfdqyxx/" target="_blank">浙江</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/ningbo/nbfdqyxx/" target="_blank">宁波</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/fujian/fjfdqyxx/" target="_blank">福建</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/xiamen/ximfdqyxx/" target="_blank">厦门</a></td>
  </tr>
  <tr>
    <th>南</th>
    <td><a href="http://www.csrc.gov.cn/pub/guangdong/gdfdqyxx/" target="_blank">广东</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/shenzhen/szfdqyxx/" target="_blank">深圳</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/guangxi/gxfdqyxx/" target="_blank">广西</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/hainan/hainfdqyxx/" target="_blank">海南</a></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th rowspan="2">西</th>
    <td><a href="http://www.csrc.gov.cn/pub/xizang/xzfdqyxx/" target="_blank">西藏</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/sichuan/scfdqyxx/" target="_blank">四川</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/chongqing/cqfdqyxx/" target="_blank">重庆</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/guizhou/gzfdqyxx/" target="_blank">贵州</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/yunnan/ynfdqyxx/" target="_blank">云南</a></td>
  </tr>
  <tr>
    <td><a href="http://www.csrc.gov.cn/pub/xinjiang/xjfdqyxx/" target="_blank">新疆</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/gansu/gsfdqyxx/" target="_blank">甘肃</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/qinghai/qhfdqyxx/" target="_blank">青海</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/ningxia/nxfdqyxx/" target="_blank">宁夏</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/shanxidong/shxfdqyxx/" target="_blank">陕西</a></td>
  </tr>
  <tr>
    <th rowspan="2">北</th>
    <td><a href="http://www.csrc.gov.cn/pub/heilongjiang/hljfdqyxx/" target="_blank">黑龙江</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/jilin/jlfdqyxx/" target="_blank">吉林</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/liaoning/lnfdqyxx/" target="_blank">辽宁</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/dalian/dlfdqyxx/" target="_blank">大连</a></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><a href="http://www.csrc.gov.cn/pub/neimenggu/nmgfdqyxx/" target="_blank">内蒙古</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/shanxi/sxfdqyxx/" target="_blank">山西</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/hebei/hbfdqyxx/" target="_blank">河北</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/beijing/bjfdqyxx/" target="_blank">北京</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/tianjin/tjfdqyxx/" target="_blank">天津</a></td>
  </tr>
  <tr>
    <th>中</th>
    <td><a href="http://www.csrc.gov.cn/pub/henan/hnfdqyxx/" target="_blank">河南</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/hubei/hubfdqyxx" target="_blank">湖北</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/hunan/hunfdqyxx" target="_blank">湖南</a></td>
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
</div>