<script>$(document).ready(function(){$("#csrcDept caption").click(function(){$("#csrcDept tr").toggle();});});</script>
<div class="tb-offset">
<table class="tb-sep-v2 td-high smaller" id="csrcDept">
  <caption class="high" style="background-color:#043D74; color:#fff;"><i class="iconfont icon-bumen"></i>&nbsp;中国证监会下属部门</caption>
  <tr>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/bgt/" target="_blank">办公厅</a></td>
    <td id="bright-issue"><a href="http://www.csrc.gov.cn/pub/newsite/fxjgb/" target="_blank">发行部</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/gzgsb/" target="_blank">非公部</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/scb/" target="_blank">市场部</a></td>
  </tr>
  <tr>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/zqjjjgjgb/" target="_blank">机构部</a></td>
    <td id="bright-listed"><a href="http://www.csrc.gov.cn/pub/newsite/ssgsjgb/" target="_blank">上市公司部</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/qhjgb/" target="_blank">期货部</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/jcj/" target="_blank">稽查局</a></td>
  </tr>
  <tr>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/flb/" target="_blank">法律部</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/xzcfw/" target="_blank">行政处罚委</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/kjb/" target="_blank">会计部</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/gjb/" target="_blank">国际部</a></td>
  </tr>
  <tr>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/tzzbhj/" target="_blank">投保局</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/gszqjgb/" target="_blank">债券部</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/cxywjgb/" target="_blank">创新部</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/smjjjgb/" target="_blank">私募部</a></td>
  </tr>
  <tr>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/djffzqqhhdj/" target="_blank">打非局</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/rjb/" target="_blank">人教部</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/dwxcb/" target="_blank">党宣部</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/jiancj/" target="_blank">监察局</a></td>
  </tr>
  <tr>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/jgdw/" target="_blank">机关党委</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/jczd/" target="_blank">稽查总队</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/yjzx/" target="_blank">研究中心</a></td>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/xxzx/" target="_blank">信息中心</a></td>
  </tr>
  <tr>
    <td><a href="http://www.csrc.gov.cn/pub/newsite/xzzx" target="_blank">行政中心</a></td>
    <td colspan="3"><a href="http://www.csrc.gov.cn/pub/newsite/zjhjs/" target="_blank">证监会简介</a></td>
  </tr>
</table>
</div>