<div class="head">
  <div class="topAd">
    <script src="{APP_PATH}caches/poster_js/1.js"></script>
    <span>广告</span>
  </div>
  <div class="headMid">
    <img title="上证通网LOGO" src="http://www.sztnet.com/statics/images/myimg/logo.png" />
    <img title="公众号：sztnet" src="http://www.sztnet.com/statics/images/myimg/sztnet.jpg" />
  </div>
  <div class="topAd">
    <script src="{APP_PATH}caches/poster_js/11.js"></script>
    <span>广告</span>
  </div>
</div>
        
        
        
        
        
        