<nav class="mainNav">
<ul class="inverse">
  <li><a href="http://www.sztnet.com/newsCenter/" target="_self">资讯</a></li>
  <li><a href="http://www.sztnet.com/regulation/" target="_self">监管</a></li>
  <li><a href="http://www.sztnet.com/thinkTank/" target="_self">智库</a></li>
  <li><a href="http://www.sztnet.com/edu/" target="_self">学院</a></li>
  <li><a href="http://www.sztnet.com/event/" target="_self">活动</a></li>
  <li class="cur"><a href="http://www.sztnet.com/job/" target="_self">招聘</a></li>
  <li><a href="http://www.sztnet.com/services/" target="_self">服务</a></li>
  <li><a href="http://www.sztnet.com/tool/" target="_self">工具</a></li>
  <li><a href="http://www.sztnet.com/law/" target="_self">法规</a></li>
  <li><a href="http://www.sztnet.com/ipo/" target="_self">上市</a></li>
  <li><a href="http://www.sztnet.com/fin/" target="_self">融资</a></li>
  <li><a href="http://www.sztnet.com/inv/" target="_self">投资</a></li>
  <li><a href="http://www.sztnet.com/ma/" target="_self">并购</a></li>
  <li><a href="http://www.sztnet.com/neeq/" target="_self">股转</a></li>
  <li><a href="http://www.sztnet.com/lc/" target="_self">公司</a></li>
  <li><a style="color:#ccc;" href="#" target="_self">投行</a></li>
  <li><a style="color:#ccc;" href="#" target="_self">财务</a></li>
  <li><a style="color:#ccc;" href="#" target="_self">法律</a></li>
</ul>
</nav>