<h3 class="h3-1">发行/上市公告查询</h3>
<div class="tb-offset">
<table class="tb-sep-v1 anncSite">
  <tr>
    <td colspan="2" width="50%"><a href="" target="_blank">巨潮资讯网<br/>（沪深，法定）</a></td>
    <td colspan="2"><a href="http://rsc.p5w.net/rsc/index.html" target="_blank">上交所官网<br/>（沪市）</a></td>
  </tr>
  <tr>
    <td><a href="http://rsc.p5w.net/rsc/index.html" target="_blank">中国证券报网<br/>（法定）</a></td>
    <td><a href="" target="_blank">上海证券报网<br/>（法定）</a></td>
    <td><a href="http://rs.stcn.com/rsIndexAction.do?method=initIndex" target="_blank">证券时报网<br/>（法定）</a></td>
    <td><a href="http://roadshow.cnstock.com/" target="_blank">证券日报网<br/>（法定）</a></td>
  </tr>
  <tr>
    <td colspan="2" class="anncSiteTd"><a href="http://www.cninfo.com.cn/eipo/index.jsp" target="_blank">深市IPO信息查询专区<br/>（巨潮资讯网）</a></td>
    <td colspan="2" class="anncSiteTd"><a href="http://ipo.sseinfo.com/info/home/" target="_blank">沪市IPO信息查询专区<br/>（赢富网）</a></td>
  </tr>
</table>
</div>
<p class="note">提示：指定搜索某个IPO公司，可查看全套IPO公告。</p>

<div class="tb-offset">
<table class="tb-sep-v1 exchange">
  <tr>
    <th>询价信息查询</th><th>网下申购平台</th>
  </tr>
  <tr>
    <td><a href="http://ipo.sseinfo.com/info/xjxx/" target="_blank">上交所</a></td>
    <td><a href="http://eipo.szse.cn/row/eipo/xjxx/fxrxjxx/" target="_blank">深交所</a></td>
  </tr>
  <tr>
    <td><a href="http://www.sse.com.cn/services/ipo/home/offlineinfo/" target="_blank">上交所</a></td>
    <td><a href="http://eipo.szse.cn/row/eipo/" target="_blank">深交所</a></td>
  </tr>
</table>
</div>
      