<footer>
  <div class="container">
  <ul>
    <li><a href="http://www.ssgsw.com/thisSite/aboutUs/" target="_blank">关于我们</a></li>
    <li><a href="http://www.ssgsw.com/thisSite/contribution/" target="_blank">欢迎投稿</a></li>
    <li><a href="http://www.ssgsw.com/thisSite/services/" target="_blank">业务服务</a></li>
    <li><a href="http://www.ssgsw.com/thisSite/feedback/" target="_blank">反馈有礼</a></li>
    <li><a href="http://www.ssgsw.com/thisSite/hr/" target="_blank">招聘信息</a></li>
    <li><a href="http://www.ssgsw.com/thisSite/copyright/" target="_blank">版权声明</a></li>
    <li><a href="http://www.ssgsw.com/thisSite/contact/" target="_blank">联系方式</a></li>
  </ul>
  <span>© 2010&ndash;<?php echo date('Y')?>&nbsp;上市公司网&nbsp;版权所有</span>
  </div>
</footer>
<script>(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=11033271430119132646' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script>