<nav class="mainNav cateNum-12 clear">
<ul class="inverse">
  <li><a href="http://www.sztnet.com/newsCenter/" target="_self">资讯</a></li>
  <li><a href="http://www.sztnet.com/regulation/" target="_self">监管</a></li>
  <li><a href="http://www.sztnet.com/thinkTank/" target="_self">智库</a></li>
  <li class="cur"><a href="http://www.sztnet.com/law/" target="_self">法规</a></li>
  <li><a href="http://www.sztnet.com/index.php?m=content&c=index&a=lists&catid=55" target="_self">产业</a></li>
  <li>
    <a id="biz" href="javascript:void(0)" target="_self">业务</a>
    <ul>
      <li><a href="http://www.sztnet.com/ipo/" target="_self">上市</a></li>
      <li><a href="http://www.sztnet.com/fin/" target="_self">融资</a></li>
      <li><a href="http://www.sztnet.com/ma/" target="_self">并购</a></li>
      <li><a href="http://www.sztnet.com/inv/" target="_self">理财</a></li>
      <li><a href="http://www.sztnet.com/incentive/" target="_self">激励</a></li>
      <li><a href="http://www.sztnet.com/lc/" target="_self">公司</a></li>
      <li><a href="http://www.sztnet.com/neeq/" target="_self">股转</a></li>
      <li><a href="http://www.sztnet.com/i-bank/" target="_self">投行</a></li>
      <li><a href="http://www.sztnet.com/auditor/" target="_self">会所</a></li>
      <li><a href="http://www.sztnet.com/lawyer/" target="_self">律所</a></li>
      <li><a href="http://www.sztnet.com/tool/" target="_self">工具</a></li>
    </ul>
  </li>
  <li><a href="http://www.sztnet.com/edu/" target="_self">学院</a></li>
  <li><a href="http://www.sztnet.com/event/" target="_self">活动</a></li>
  <li><a href="http://www.sztnet.com/hr/" target="_self">招聘</a></li>
  <li><a href="http://www.sztnet.com/index.php?m=content&c=index&a=lists&catid=499" target="_self">微群</a></li>
  <li><a href="http://www.sztnet.com/service/" target="_self">服务</a></li>
  <li><a href="http://www.sztnet.com/index.php?m=content&c=index&a=lists&catid=56" target="_self">商脉</a></li>
</ul>
</nav>
<script type="text/javascript">
  $(document).ready(function(){
    $("#biz").click(function(){$("#biz").siblings().toggle(100);});
  });
</script>