<!doctype html>
<html lang="cmn-Hans">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
  <meta name="keywords" content="{$SEO['keyword']}">
  <meta name="description" content="{$SEO['description']}">
</head>

<body>
<?php
if($child){
     $child_arrary=explode(',',$arrchildid);
     $to_url=$CATEGORYS[$child_arrary[0]][url];
    echo "<script>window.location.href='".$to_url."'</script>";
	//var_dump($to_url);
    }
?>

</body>
</html>
        