<!doctype html>
<html lang="cmn-Hans">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
  <meta name="keywords" content="{$SEO['keyword']}">
  <meta name="description" content="{$SEO['description']}">
  <link href="{CSS_PATH}mycss/common.css" rel="stylesheet" />
  <link href="{CSS_PATH}mycss/szt.css" rel="stylesheet" />
  <script src="{JS_PATH}jquery.min.js"></script>
  <script src="{JS_PATH}search_common.js"></script>
</head>

<body>
<?php include PHPCMS_PATH.'/phpcms/templates/pub/header.html';?>
<div class="container">
{template "content_inc","nav"}

<div class="row">

<div class="col xs-12 md-4">
  <div class="poetry">
  <img src="http://www.sztnet.com/uploadfile/poster/mewe.jpg" alt="从我到我们" width="100%" />
  <p>你能链接多少人<br/>你就有多少成功的机会</p>
  <p>你能影响多少人<br/>你就能成就多大的事业</p>
  <p>一些人在闭门造轮子<br/>一些人已经搭上了高铁</p>
  <p>成功不只靠奋斗和坚持<br/>还靠思维和方法</p>
  <p>如果你认同下面的价值观<br/>开放、共享、协作</p>
  <p>请加站长主为好友<br/>站长的资源将是你的资源</p>
  </div>
  <img src="http://www.sztnet.com/uploadfile/poster/zx-zw-1.png" alt="微信群" width="100%" />
</div><!--左侧-->

<div class="col xs-12 md-8">
<div class="row wxg">
  <div class="col xs-12"><h3 class="line1"><span>并购重组类</span></h3></div>
  <div class="col xs-6 md-3"><span>并购重组业务群</span></div>
  <div class="col xs-6 md-3"><span>并购基金业务群</span></div>
  <div class="col xs-6 md-3"><span>借壳上市业务群</span></div>
  <div class="col xs-6 md-3"><span>上市公司壳交易群</span></div>
  <div class="col xs-6 md-3"><span>新三板壳交易群</span></div>
  <div class="col xs-6 md-3"><span>上市公司收购业务群</span></div>
  <div class="col xs-6 md-3"><span>跨境并购业务群</span></div>

  <div class="col xs-12"><h3 class="line1"><span>行业并购类</span></h3></div>
  <div class="col xs-6 md-3"><span>采掘行业并购交易群</span></div>
  <div class="col xs-6 md-3"><span>传媒行业并购交易群</span></div>
  <div class="col xs-6 md-3"><span>电气设备行业并购交易群</span></div>
  <div class="col xs-6 md-3"><span>电子行业并购交易群</span></div>
  <div class="col xs-6 md-3"><span>房地产行业并购交易群</span></div>
  <div class="col xs-6 md-3"><span>金融行业并购交易群</span></div>
  <div class="col xs-6 md-3"><span>国防军工并购交易群</span></div>
  <div class="col xs-6 md-3"><span>化工行业并购交易群</span></div>
  <div class="col xs-6 md-3"><span>机械设备行业并购交易群</span></div>
  <div class="col xs-6 md-3"><span>计算机行业并购交易群</span></div>
  <div class="col xs-6 md-3"><span>建筑行业并购交易群</span></div>
  <div class="col xs-6 md-3"><span>交通运输行业并购交易群</span></div>
  <div class="col xs-6 md-3"><span>农林牧渔行业并购交易群</span></div>
  <div class="col xs-6 md-3"><span>食品饮料行业并购交易群</span></div>
  <div class="col xs-6 md-3"><span>通讯行业并购交易群</span></div>
  <div class="col xs-6 md-3"><span>休闲服务行业并购交易群</span></div>
  <div class="col xs-6 md-3"><span>医疗大健康行业并购交易群</span></div>
  <div class="col xs-6 md-3"><span>有色金属行业并购交易群</span></div>
  
  <div class="col xs-12"><h3 class="line1"><span>财务类</span></h3></div>
  <div class="col xs-6 md-3"><span>银行公司业务群</span></div>
  <div class="col xs-6 md-3"><span>上市公司理财业务群</span></div>
  <div class="col xs-6 md-3"><span>新三板公司理财业务群</span></div>
  <div class="col xs-6 md-3"><span>上市公司债务融资群</span></div>
  <div class="col xs-6 md-3"><span>新三板债务融资群</span></div>
  <div class="col xs-6 md-3"><span>税务筹划业务群</span></div>

  <div class="col xs-12"><h3 class="line1"><span>财务类</span></h3></div>
  <div class="col xs-6 md-3"><span>银行公司业务群</span></div>
  <div class="col xs-6 md-3"><span>上市公司理财业务群</span></div>
  <div class="col xs-6 md-3"><span>新三板公司理财业务群</span></div>
  <div class="col xs-6 md-3"><span>上市公司债务融资群</span></div>
  <div class="col xs-6 md-3"><span>新三板债务融资群</span></div>
  <div class="col xs-6 md-3"><span>税务筹划业务群</span></div> 
  
  <div class="col xs-12"><h3 class="line1"><span>企业上市类</span></h3></div>
  <div class="col xs-6 md-3"><span>A股上市业务群</span></div>
  <div class="col xs-6 md-3"><span>科创板上市群</span></div>
  <div class="col xs-6 md-3"><span>香港上市业务群</span></div>
  <div class="col xs-6 md-3"><span>美国上市业务群</span></div>
  <div class="col xs-6 md-3"><span>A股上市辅导群</span></div>
  <div class="col xs-6 md-3"><span>境外上市辅导群</span></div>
  <div class="col xs-6 md-3"><span>证监会IPO申报群</span></div>

  <div class="col xs-12"><h3 class="line1"><span>融资类</span></h3></div>
  <div class="col xs-6 md-3"><span>大宗交易业务群</span></div>
  <div class="col xs-6 md-3"><span>资产证券化业务群</span></div>
  <div class="col xs-6 md-3"><span>定向增发业务群</span></div>
  <div class="col xs-6 md-3"><span>股票质押业务群</span></div>
  <div class="col xs-6 md-3"><span>股票质押式回购业务群</span></div>
  <div class="col xs-6 md-3"><span>公司债业务群</span></div>
  <div class="col xs-6 md-3"><span>可转债业务群</span></div>
  <div class="col xs-6 md-3"><span>可交换债业务群</span></div>
  <div class="col xs-6 md-3"><span>短期融资券业务群</span></div>
  <div class="col xs-6 md-3"><span>信托融资业务群</span></div>
  <div class="col xs-6 md-3"><span>融资租赁业务群</span></div>
  <div class="col xs-6 md-3"><span>优先股业务群</span></div>
  <div class="col xs-6 md-3"><span>Pre-IPO投融业务群</span></div>
  
  <div class="col xs-12"><h3 class="line1"><span>上市公司业务类</span></h3></div>
  <div class="col xs-6 md-3"><span>市值管理业务群</span></div>
  <div class="col xs-6 md-3"><span>投资者关系业务群</span></div>
  <div class="col xs-6 md-3"><span>上市公司媒体公关群</span></div>
  <div class="col xs-6 md-3"><span>创业板信披业务群</span></div>
  <div class="col xs-6 md-3"><span>中小板信披业务群</span></div>
  <div class="col xs-6 md-3"><span>深主板信披业务群</span></div>
  <div class="col xs-6 md-3"><span>沪主板信披业务群</span></div>
  <div class="col xs-6 md-3"><span>限售股解禁业务群</span></div>
  <div class="col xs-6 md-3"><span>上市公司内审业务群</span></div>
  <div class="col xs-6 md-3"><span>上市公司内控业务群</span></div>
  <div class="col xs-6 md-3"><span>上市公司CSR业务群</span></div>
  <div class="col xs-6 md-3"><span>上市公司持续督导群</span></div> 
  
  <div class="col xs-12"><h3 class="line1"><span>新三板公司类</span></h3></div>
  <div class="col xs-6 md-3"><span>新三板信披业务群</span></div>
  <div class="col xs-6 md-3"><span>新三板做市业务群</span></div>

  <div class="col xs-12"><h3 class="line1"><span>业界类</span></h3></div>
  <div class="col xs-6 md-3"><span>券商投行部业务群</span></div>
  <div class="col xs-6 md-3"><span>券商机构业务群</span></div>
  <div class="col xs-6 md-3"><span>券商财富管理业务群</span></div>
  <div class="col xs-6 md-3"><span>券商投行内控业务群</span></div>
  <div class="col xs-6 md-3"><span>券商资本市场部业务群</span></div>
  <div class="col xs-6 md-3"><span>财富管理业务群</span></div>
  <div class="col xs-6 md-3"><span>会计师事务所</span></div>
  <div class="col xs-6 md-3"><span>律师事务所</span></div>
  <div class="col xs-6 md-3"><span>资产评估业务群</span></div>
  <div class="col xs-6 md-3"><span>信用评级业务群</span></div>
  <div class="col xs-6 md-3"><span>上市公司董办顾问群</span></div>
  <div class="col xs-6 md-3"><span>财经公关顾问群</span></div>
  <div class="col xs-6 md-3"><span>产业咨询顾问群</span></div>
  <div class="col xs-6 md-3"><span>境外上市咨询顾问群</span></div>
  <div class="col xs-6 md-3"><span>Pre-IPO基金群</span></div>
  <div class="col xs-6 md-3"><span>并购基金群</span></div>
  <div class="col xs-6 md-3"><span>财经印刷公司群</span></div>
  <div class="col xs-6 md-3"><span>信托公司群</span></div>
  
  <div class="col xs-12"><h3 class="line1"><span>考试类</span></h3></div>
  <div class="col xs-6 md-3"><span>CPA考试群</span></div>
  <div class="col xs-6 md-3"><span>CIA考试群</span></div>
  <div class="col xs-6 md-3"><span>律师执业证考试群</span></div>
  <div class="col xs-6 md-3"><span>证考-入门资格考试群</span></div>
  <div class="col xs-6 md-3"><span>证考-保代胜任考试群</span></div>
  <div class="col xs-6 md-3"><span>证考-管理资质测试群</span></div>
  <div class="col xs-6 md-3"><span>基金从业资格考试群</span></div>
  <div class="col xs-6 md-3"><span>深交所董秘资格考试群</span></div>
  <div class="col xs-6 md-3"><span>上交所董秘资格考试群</span></div>
  <div class="col xs-6 md-3"><span>新三板董秘资格考试群</span></div>

  <div class="col xs-12"><h3 class="line1"><span>其他类</span></h3></div>
  <div class="col xs-6 md-3"><span>新三板股权激励业务群</span></div>
  <div class="col xs-6 md-3"><span>上市公司股权激励业务群</span></div>
  <div class="col xs-6 md-3"><span>股份回购业务群</span></div>
  <div class="col xs-6 md-3"><span>金融牌照交易群</span></div>
  <div class="col xs-6 md-3"><span>金融牌照注册群</span></div>
  <div class="col xs-6 md-3"><span>创业伙伴群</span></div>
</div>
</div><!--右侧-->

<div class="col xs-12 advise"><a href="http://www.sztnet.com/thisSite/contact/" target="_blank">热烈欢迎网友提供建议</a></div>
</div><!--/row-->

</div><!--/container-->
<?php include PHPCMS_PATH.'/phpcms/templates/pub/footer.html';?>
</body>
</html>