<!doctype html>
<html lang="cmn-Hans">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
  <meta name="keywords" content="{$SEO['keyword']}">
  <meta name="description" content="{$SEO['description']}">
  <link href="{CSS_PATH}mycss/common.css" rel="stylesheet" />
  <link href="{CSS_PATH}mycss/szt.css" rel="stylesheet" /> 
  <script src="{JS_PATH}jquery.min.js"></script>
  <script src="{JS_PATH}search_common.js"></script>
  <script>
	$(function(){
	  $(".tabs").each(function(i){
		  $(this).click(function(){
			  $(this).addClass("showTab").siblings().removeClass("showTab");
			  $(".infoBox2:eq("+i+")").show().siblings(".infoBox2").hide();
		  })
	  })
	})
  </script>
</head>

<body>
<?php include PHPCMS_PATH.'/phpcms/templates/pub/header.html';?>
<div class="container">

{template "content_inc","nav"}
{template "content_inc","position"}
<div class="row mt10"> 
  <div class="col xs-12 md-9">
    <ul class="infoBox2">
      {pc:content action="lists" catid="$catid" order="inputtime DESC" num="10"}
      {loop $data $k $v}
      <li>
        <img src="{$v[thumb]}" />
        <div>
          <a href="{$v[url]}" target="_blank">{$v[title]}</a>
          <span>类型：{box('industry',$v[industry],18)}</span>
          <span>地点：{get_linkage($v['place'],1,'-',1)}</span>
          <span>业务：{box('item3',$v[item2],18)}</span>
        </div>
      </li>
      {/loop}
      {/pc}
    </ul>
  </div><!--左-->
  
  <div class="col xs-12 md-3">
  </div><!--右-->
</div><!--/row-->

</div><!--/container-->
<?php include PHPCMS_PATH.'/phpcms/templates/pub/footer.html';?>
</body>
</html>