<!doctype html>
<html lang="cmn-Hans">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
  <meta name="keywords" content="{$SEO['keyword']}">
  <meta name="description" content="{$SEO['description']}">
  
  <link href="{CSS_PATH}mycss/common.css" rel="stylesheet" />
  <link href="{CSS_PATH}mycss/edu.css" rel="stylesheet" />
  <script src="{JS_PATH}jquery.min.js"></script>
  <script src="{JS_PATH}search_common.js"></script>
</head>

<body>
<?php include PHPCMS_PATH.'/phpcms/templates/pub/header.html';?>
<div class="container">

{template "content_inc","nav"}
{template "content_inc","broNav"}

<ul class="itrain row">
  {pc:content action="lists" catid="$catid" num="20" order="inputtime DESC"}
  {loop $data $v}
  <li class="col xs-12 md-4 mb10">
    <div>
    <a href="{$v[url]}" target="_blank">{$v[title]}</a>
    <span>讲师：{$v[trainer]}&nbsp;&nbsp;&nbsp;费用：{$v[fee]}&nbsp;&nbsp;&nbsp;发布：{date('Y-m-d',$v[inputtime])}</span>
    </div>
  </li>
  {/loop}
  {/pc}
</ul>

</div><!--/container-->
<?php include PHPCMS_PATH.'/phpcms/templates/pub/footer.html';?>
</body>
</html>