<!doctype html>
<html lang="cmn-Hans">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
  <meta name="keywords" content="{$SEO['keyword']}">
  <meta name="description" content="{$SEO['description']}">
  
  <link href="{CSS_PATH}mycss/common.css" rel="stylesheet" />
  <link href="{CSS_PATH}mycss/edu.css" rel="stylesheet" />  
  <script src="{JS_PATH}jquery.min.js"></script>
  <script src="{JS_PATH}search_common.js"></script>
</head>

<body>
<?php include PHPCMS_PATH.'/phpcms/templates/pub/header.html';?>
<div class="container">

{template "content_inc","nav"}
{template "content_inc","broNav"}

<div class="row">
  <div class="col xs-12">
    <ul class="infoBox row5px">
      {pc:content action="lists" catid="$catid" num="10" order="inputtime DESC"}
      {loop $data $v}
      <li class="col5px xs-6 md-2">
        <img src="{$v[thumb]}" />
        <div>
          <a href="{$v[url]}" target="_blank">{$v[title]}</a>
          <span>时间：{$v[startdate]}</span>
          <span>地点：{get_linkage($v['place'], 1, '-',1)}</span>
          <span>费用：{$v[fee]}</span>
          <span>主办：{$v[sponsor]}</span>
          <span>发布：{date('Y.m.d',$v[inputtime])}</span>
        </div>
      </li>
      {/loop}
      {/pc}  
    </ul>
  </div>
</div><!--/row-->

</div><!--/container-->
<?php include PHPCMS_PATH.'/phpcms/templates/pub/footer.html';?>
</body>
</html>