<!doctype html>
<html lang="cmn-Hans">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
  <meta name="keywords" content="{$SEO['keyword']}">
  <meta name="description" content="{$SEO['description']}">  
  <link href="{CSS_PATH}mycss/common.css" rel="stylesheet" />
  <link href="{CSS_PATH}mycss/szt.css" rel="stylesheet" />
  <script src="{JS_PATH}jquery.min.js"></script>
  <script src="{JS_PATH}search_common.js"></script>
</head>

<body>
<?php include PHPCMS_PATH.'/phpcms/templates/pub/header.html';?>
<div class="container">

{template "content_inc","nav"}
{template "content_inc","position"}

<div class="row">
  <div class="col xs-12 md-9">
    <ul class="lists lbd bts">
      {pc:content action="lists" catid="$catid" order="inputtime DESC" num="25" page="$page"}
      {loop $data $k $v}
      <li><a href="{$v[url]}" target="_blank">{$v[title]}</a><span>{box('industry',$v[industry],72)}</span><span>{box('price',$v[price],72)}</span><span>{date('Y-m-d',$v[inputtime])}</span></li>
      {/loop}
      <div id="pages" class="text-c">{$pages}</div>
      {/pc}
    </ul>
  </div>
  <div class="col xs-12 md-3">
  </div>
</div><!--/row-->

</div><!--/container-->
<?php include PHPCMS_PATH.'/phpcms/templates/pub/footer.html';?>
</body>
</html>