<!doctype html>
<html lang="cmn-Hans">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{get_nickname($userid,'username')}的微网</title>
  <meta name="keywords" content="{$SEO['keyword']}">
  <meta name="description" content="{$SEO['description']}">
  <link href="{CSS_PATH}mycss/common.css" rel="stylesheet" />
  <link href="{CSS_PATH}mycss/szt.css" rel="stylesheet" />
  <link href="{CSS_PATH}main.css" rel="stylesheet"/>
  <script src="{JS_PATH}jquery.min.js"></script>
  <script src="{JS_PATH}search_common.js"></script>
  
  <style>
  .hd_member{height:2em; line-height:2em; color:#aaa; font-size:0.9em; overflow:hidden;}
  .hd_member span{float:left;}
  .hd_member a{float:right; margin-left:1em;}
  .hd_member a:link, .hd_member a:visited{color:#aaa;}
  
  .mySlide img{width:100%;}
  
  .info1{overflow:hidden;}
  .info1 img{float:left; width:15%; border-radius:50%; overflow:hidden;}
  .info1 div{float:left; width:85%;}  
  .info1 div span{float:left;}
  .info1 div span:nth-child(1){width:70%;}
  .info1 div span:nth-child(2){width:30%; text-align:right; font-size:0.8em; color:#aaa;}
  .info1 div span:nth-child(3){width:100%; font-size:0.8em; color:#aaa;}
  .info1 div p{float:left; width:100%; font-size:0.8em; color:#aaa;}
  
  .info2 li a{display:block; padding:5px 0; margin:0.5em 0; border:1px solid #ddd; border-radius:0.5em; text-align:center;}
  .info2 li a:hover{background-color:#ddd;}
  
  h3{color:#DAA520; margin-bottom:10px;}
  
  .myCont ul{overflow:hidden;}
  .myCont ul li{margin-bottom:10px;}
  .myCont ul li img{display:block; width:100%; border-radius:5px 5px 0 0;}
  .myCont ul li a{display:block; width:100%; padding:3px; background-color:#f0f0f0; height:3em; line-height:1.5em; border-radius:0 0 5px 5px; overflow:hidden;}
  .myCont ul li a:link, .myCont ul li a:visited{color:#333333;}

  .ft_member{height:3em; line-height:3em; text-align:center; font-size:0.9em;}
  .ft_member a:link, .ft_member a:visited{color:#DAA520;}  
  </style>
</head>

<body>
<div class="contain hd_member">
  {php $username = get_memberinfo($userid,'username');}
  <span>欢迎光临{get_nickname($userid,'username')}的微网！</span><a href="index.php?m=member">我的控制台</a>
  <a href="index.php?m=content&c=index&a=lists&catid={$catid}" target="_self">返回[商脉]</a>
</div>
<div class="container">

<div class="row mb10">
  <div class="col xs-12 md-6 mySlide">
    <div class="banner" id="b04">
      <ul>
        {php $sql = "SELECT * FROM v9_picture where username='".$username."' and catid=505"}
        {pc:get sql="$sql" cache="60" num="3" return="data"}
        {loop $data $r}
        <li class="slider-item"><a href="#"><img src="{$r[thumb]}" alt="{$r[title]}" width="585" height="374" /><span class="slider-title"><em>{$r[title]}</em></span></a></li>
        {/loop}
        {/pc}
      </ul>
      <div class="progress"></div>
      <a href="javascript:void(0);" class="unslider-arrow04 prev"><img class="arrow" id="al" src="statics/images/arrowl.png" alt="prev" width="20" height="35"></a>
      <a href="javascript:void(0);" class="unslider-arrow04 next"><img class="arrow" id="ar" src="statics/images/arrowr.png" alt="next" width="20" height="37"></a>
    </div>
  </div><!--/mySlide-->
  {php $main_memberinfo = get_memberinfo($userid);}
  <div class="col xs-12 md-6 myInfo">
    {pc:get sql="SELECT * FROM v9_member_detail where userid=$userid" cache="6" num="1" return="memberinfo"}
    <div class="info1">
      <img src="{get_memberavatar($userid,1,90)}" onerror="this.src='{$phpsso_api_url}/statics/images/member/nophoto.gif'">
      <div>
        <span><strong>{$main_memberinfo[username]}</strong>&nbsp;&nbsp;{$memberinfo[0][position]}</span><span>{get_linkage($memberinfo[0][area],1,'-',1)}</span>
        <span>{$memberinfo[0][unit_name]}</span>
        <p>{$memberinfo[0][self_introduction]}</p>
      </div>
    </div>
    
    <ul class="row5px info2">
      <li class="col5px xs-4 md-3">{if empty($main_memberinfo[mobile])}<a href="#">暂无号码</a>{else}{if isMobile()}<a href="tel://{$main_memberinfo[mobile]}">一键拨号</a>{else}<a href="#" onclick="alert('{$main_memberinfo[mobile]}')">一键拨号</a>{/if}{/if}</li>
      <li class="col5px xs-4 md-3"><a href="#" onclick="open_img('{$memberinfo[0][wechat_img]}')">加我微信</a></li>
      <li class="col5px xs-4 md-3"><a href="#" onclick="qrcpu('{$main_memberinfo[username]}','{$main_memberinfo[mobile]}')">导入通讯录</a></li>
      {php $location = explode('|',$memberinfo[0][my_adress]);}
      <li class="col5px xs-4 md-3">{if empty($memberinfo[0][my_adress])}<a href="#">暂无地址</a>{else}<a href="https://api.map.baidu.com/marker?location={$location[1]},{$location[0]}&title=目的地&content=目的地&output=html&src=webapp.baidu.openAPIdemo">一键导航</a>{/if}</li>
      <li class="col5px xs-4 md-3"><a href="index.php?m=content&c=index&a=member_info&userid={$userid}">个人资料</a></li>
      {if $_userid}
        {pc:get sql="SELECT * FROM v9_concern where userid=$userid and cc_userid=$_userid" cache="3600" num="1" return="concern"}
          {if empty($concern[0])}
          <li class="col5px xs-4 md-3"><a href="#" onclick="add_this('{$userid}')">加入名片夹</a></li>
          {else}
          <li class="col5px xs-4 md-3"><a href="#">已关注</a></li>
          {/if}
        {/pc}
      {else}
      <li class="col5px xs-4 md-3"><a href="#" onclick="add_this('{$userid}')">加入名片夹</a></li>
      {/if}
      <li class="col5px xs-4 md-3"><a href="#">一键加我</a></li>
      <li class="col5px xs-4 md-3"><a href="index.php?m=content&c=index&a=send&userid={$userid}">给我留言</a></li>
      <li class="col5px xs-4 md-3"><a href="#">关注我</a></li>
      <li class="col5px xs-4 md-3"><a href="#">待定待定</a></li>
      <li class="col5px xs-4 md-3"><a href="#">关注我</a></li>
      <li class="col5px xs-4 md-3"><a href="#">待定待定</a></li>
    </ul>
    {/pc}
  </div><!--/myInfo-->

</div><!--/row-->

<div class="row">
<div class="col xs-12 myCont">
  <h3>我的链接</h3>
  <ul class="row5px">
    {php $sql = "SELECT * FROM v9_news where username='".$username."' and catid=502"}
    {pc:get sql="$sql" cache="60" num="4" return="data"}
    {loop $data $r}
    <li class="col5px xs-6 md-3"><img src="{$r[thumb]}" onerror="this.src='/uploadfile/poster/dbzq/db4.jpg'"/><a href="{$r[url]}" target="_blank">{$r[title]}</a></li>
    {/loop}
    {/pc}
  </ul>
</div><!--/模块-->

<div class="col xs-12 myCont">
  <h3>业务中心</h3>
  <ul class="row5px">
    {php $sql = "SELECT * FROM v9_news where username='".$username."' and catid=503"}
    {pc:get sql="$sql" cache="60" num="4" return="data"}
    {loop $data $r}
    <li class="col5px xs-6 md-3"><img src="{$r[thumb]}" onerror="this.src='/uploadfile/poster/dbzq/db5.jpg'"/><a href="{$r[url]}" target="_blank">{$r[title]}</a></li>
    {/loop}
    {/pc}
  </ul>
</div><!--/模块-->

<div class="col xs-12 myCont">
  <h3>我的展示</h3>
  <ul class="row5px">
    {php $sql = "SELECT * FROM v9_news where username='".$username."' and catid=504"}
    {pc:get sql="$sql" cache="60" num="8" return="data"}
    {loop $data $r}
    <li class="col5px xs-6 md-3"><img src="{$r[thumb]}" onerror="this.src='/uploadfile/poster/dbzq/db9.jpg'"/><a href="{$r[url]}" target="_blank">{$r[title]}</a></li>
    {/loop}
    {/pc}
  </ul>
</div><!--/模块-->
</div><!--/row-->

</div><!--/container-->
<div class="contain ft_member"><a href="#" target="_self">我也要制作</a></div>
<script src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
</body>
</html>
<script src="statics/js/layer/layer.js"></script>
<script src="statics/js/jquery-1.11.1.min.js"></script>
<script src="statics/js/unslider.min.js"></script>
<script>
    $(document).ready(function(e) {
        var progress = $(".progress"),li_width = $("#b04 li").length;
        var unslider04 = $('#b04').unslider({
                dots: true,
                complete:function(index){//自己添加的，官方没有
                    progress.animate({"width":(100/li_width)*(index+1)+"%"});
                }
            }),

            data04 = unslider04.data('unslider');
        $('.unslider-arrow04').click(function() {
            var fn = this.className.split(' ')[1];
            data04[fn]();
        });

        var userid = "{$userid}";
        $.post('index.php?m=content&c=index&a=interview',{userid:userid},function (result) {
            console.log(result.msg);
        },'json');
    });
    function open_img(url){
        if (url == ''){
            layer.alert('暂无微信', {icon: 2});
            return;
        }
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            area: ['310px', '310px'],
            skin: 'layui-layer-nobg', //没有背景色
            shadeClose: true,
            content: '<img src="'+url+'" style="height: 300px;width: 300px;"/>'
        });
    }

    function qrcpu(name, tel) {
        if (name == '' || tel == ''){
            layer.alert('暂无联系方式', {icon: 2});
            return;
        }
        $.post('qrcpu/samples/index.php',{name:name,tel:tel,remark:window.location.href},function (result) {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: ['310px', '310px'],
                skin: 'layui-layer-nobg', //没有背景色
                shadeClose: true,
                content: '<img src="'+result+'"/>'
            });
        },'json');
    }

    function add_this(userid) {
        $.post('index.php?m=content&c=index&a=concern',{userid:userid},function (result) {
            if (result.code){
                layer.alert(result.msg, {icon: 1});
            }else {
                layer.alert(result.msg, {icon: 2});
            }
        },'json');
    }
</script>