{template 'member', 'header'}
<style type="text/css">
table{width:100%; border-collapse:collapse;}
table th{width:20%; text-align:right; vertical-align:top;}
table th, table td{padding:5px;}
@media (min-width:768px){
	table{width:60%; margin:20px auto;}
	}
@media (min-width:992px){table{width:50%;}}
@media (min-width:1200px){table{width:40%;}}
#dosubmit{height:2em; width:5em; border:none; border-radius:3px; background-color:green; color:#fff;}
</style>
<div id="memberArea">
{template 'member', 'account_manage_left'}

<form method="post" action="" id="myform" name="myform">
    <table class="table_form">
        <tr>
            <th>{L('email')}：</th>
            <td><input name="info[email]" type="text" id="email" size="30" value="" class="input-text"></td>
        </tr>
        <tr>
            <th>{L('password')}：</th>
            <td><input name="info[password]" type="password" id="password" size="30" value="" class="input-text"></td>
        </tr>
		<tr>
			<th>验证码</th>
			<td><input name="info[code]" type="text" id="code" size="30" value="" class="input-text"><button type="button" onclick="send_email()">发送验证码</button></td>
		</tr>
        <tr>
            <td colspan="2" style="text-align:center;"><input name="dosubmit" type="submit" id="dosubmit" value="{L('submit')}" class="button"></td>
        </tr>
    </table>
</form>

<span class="o1"></span><span class="o2"></span><span class="o3"></span><span class="o4"></span>
</div><!--/memberArea-->
<script src="{JS_PATH}layer/layer.js"></script>
<script type="text/javascript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#password").formValidator({onshow:"{L('input').L('password')}",onfocus:"{L('password').L('between_6_to_20')}"}).inputValidator({min:6,max:20,onerror:"{L('password').L('between_6_to_20')}"});
	$("#email").formValidator({onshow:"{L('input').L('email')}",onfocus:"{L('email').L('format_incorrect')}",oncorrect:"{L('email').L('format_right')}"}).inputValidator({min:2,max:32,onerror:"{L('email').L('between_2_to_32')}"}).regexValidator({regexp:"email",datatype:"enum",onerror:"{L('email').L('format_incorrect')}"}).ajaxValidator({
	    type : "get",
		url : "",
		data :"m=member&c=index&a=public_checkemail_ajax",
		datatype : "html",
		async:'false',
		success : function(data){	
            if( data == "1" ) {
                return true;
			} else {
                return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "{L('deny_register').L('or').L('email_already_exist')}",
		onwait : "{L('connecting_please_wait')}"
	}).defaultPassed();
});

function send_email() {
    $.post('index.php?m=member&c=index&a=send_email',{email:$("#email").val()},function (result) {
        if(result.code == 1) {
            layer.alert('验证码发送成功', {icon: 1});
        } else {
            layer.alert('验证码发送失败', {icon: 2});
        }
    },'json');
}
//-->
</script>