{template 'member', 'header'}
<!--
<link href="{CSS_PATH}dialog.css" rel="stylesheet" type="text/css" />

<link href="{PLUGIN_STATICS_PATH}select2/select2.min.css" rel="stylesheet" type="text/css" />
-->
<script type="text/javascript" src="{JS_PATH}formvalidator.js" charset="UTF-8"></script>
<script type="text/javascript" src="{JS_PATH}formvalidatorregex.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="{JS_PATH}dialog.js"></script>
<script src="{JS_PATH}layer/layer.js"></script>
<script type="text/javascript" src="{PLUGIN_STATICS_PATH}select2/select2.full.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="{JS_PATH}jquery.form.min.js" charset="UTF-8"></script>


<style type="text/css">
	.select2-hidden-accessible{border:0 !important;clip:rect(0 0 0 0) !important;height:1px !important;margin:-1px !important;overflow:hidden !important;padding:0 !important;position:absolute !important;width:1px !important}
</style>
<script language="JavaScript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#nickname").formValidator({onshow:"{L('input').L('nickname')}",onfocus:"{L('nickname').L('between_2_to_20')}"}).inputValidator({min:2,max:20,onerror:"{L('nickname').L('between_2_to_20')}"}).regexValidator({regexp:"ps_username",datatype:"enum",onerror:"{L('nickname').L('format_incorrect')}"}).ajaxValidator({
	    type : "get",
		url : "",
		data :"m=member&c=index&a=public_checknickname_ajax&userid={$memberinfo[userid]}",
		datatype : "html",
		async:'false',
		success : function(data){
            if( data == "1" ) {
                return true;
			} else {
                return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "{L('already_exist')}",
		onwait : "{L('connecting_please_wait')}"
	}).defaultPassed();

	{$formValidator}
});

//-->
</script>
<style type="text/css">
  .fillingTips{color:grey; margin:10px 0 0; padding:5px; background-color:#FAFAD2;}

.tb_form{border-collapse:collapse; width:100%; background-color:#F5F5DC;}
.tb_form th, .tb_form td{padding:5px;}
.tb_form th{width:25%; line-height:30px; text-align:right; vertical-align:top;}
.tb_form td{width:75%; overflow:hidden;}
.tb_form font{display:block;}

  /*行高*/
  .tb_form input, #unit_industry, #area-1, #area-2, #home_area-1, #home_area-2, ib, .ib input{height:30px;}
  .ib input{float:left; margin-top:0px;}
  .ib{display:inline-block; line-height:30px; text-align:left;}

  /*宽度*/
  #nickname, #service, #unit_industry, #position{width:50%;}
  #company_name, #website, #media_url{width:100%;}
  #area-1, #area-2, #home_area-1, #home_area-2{width:50%; margin:0; float:left;}
  #area-2, #home_area-2{border-left:none;}
  #school, #self_introduction{width:100%;}
  #QQ, #wechat, #media_name{width:50%;}
  #dosubmit{width:6em; height:3em; background-color:green; border:none; border-radius:3px; color:#fff;}
  .hide{display:none;}

@media (min-width:768px){
  #nickname, #service, #unit_industry, #position{width:20%;}
  #company_name, #website{width:50%;}
  #area-1, #area-2, #home_area-1, #home_area-2{width:25%;}
  #QQ, #wechat, #media_name{width:20%;}
  .ib{margin-right:10px;}
  }
</style>

<div id="memberArea">
{template 'member', 'account_manage_left'}

<!--
<div class="point" id='announcement'>
    <a href="javascript:hide_element('announcement');" hidefocus="true" class="close"><span>{L('close')}</span></a>
    <div class="content">
        <strong class="title">{L('notice')}：</strong>
        <p>{L('with_star_must_input')}</p>
    </div>
</div>
-->
<p class="fillingTips">温馨提示：使用【E名片】时，除最后的“我的媒体、媒体网址”字段外，其它字段均需要填写；仅使用【发布】时，需至少填写前6个字段及“我的媒体、媒体网址”字段。</p>
<form method="post" action="" id="myform" name="myform">
    <table class="tb_form">
        <tr>
            <th>{L('nickname')}：</th>
            <td><input id="nickname" name="nickname" value="{$memberinfo['nickname']}" type="text" class="input-text" size="30"><br/>个人账户填：姓名或*先生/女士；机构账户填：公司简称</td>
        </tr>
        {loop $forminfos $k $v}
        {if $k == 'ifshow'}
            {php continue;}
        {/if}
        <tr>
            <th>
                {if $v['isbase']}<font color=red>*</font>{/if}
                {$v['name']}：
            </th>
            <td>
            {if $k == 'unit_name'}
                <input id="company_name" name="info[unit_name]" value="{$memberinfo['unit_name']}" type="text" class="input-text" size="30" list="companyList">
                <datalist id="companyList">
                </datalist>
            {elseif $k == 'wechat_img'}
                <div class="upload-pic img-wrap">
                    <input type="hidden" name="info[wechat_img]" id="wechat_img" value="{$memberinfo['wechat_img']}">
                    <a><img src="{$memberinfo['wechat_img']}" onerror="this.src='/statics/images/icon/upload-pic.png'" id="wechat_img_preview" style="cursor:hand" width="10%"></a>
                </div>
            {elseif $k == 'unit_industry'}
                <select name="info[unit_industry]" id="unit_industry">
                    <option value="0">请选择</option>
                    {pc:get sql="SELECT catid,catname FROM v9_category where parentid = 522" cache="3600" return="data"}
                    {loop $data $m}
                    <option value="{$m['catid']}">{$m['catname']}</option>
                    {/loop}
                    {/pc}
                </select>
            {else}
                {$v['form']}
            {/if}
                {if $v['tips']}<font color="red">&nbsp;&nbsp;({$v['tips']})</font>{/if}
            </td>
        </tr>
        {/loop}
        <tr>
            <td colspan="2" style="text-align:center;"><button name="dosubmit" type="submit" id="dosubmit" value="{L('submit')}" class="button">提交</button></td>
        </tr>
    </table>
</form>

<form id="fileForm" enctype="multipart/form-data" action="index.php?m=content&c=index&a=upload" method="post">
    <input type="file" id="file" name="upload" style="display:none;" multiple="multiple">
</form>

</div><!--/memberArea-->

<script>
    var unit_industry = "{$memberinfo['unit_industry']}";
    $(document).ready(function () {
        $('#unit_industry').val(unit_industry).change('trigger');
    });

    $("#company_name").on('input',function(e){
        $.post('index.php?m=content&c=index&a=getCompany',{q:$(this).val()},function (result) {
            if (result){
                var html = '';
                $.each(result.items,function (k,v) {
                    html+= '<option value="'+v.text+'" />';
                });
                $('#companyList').html(html);
            }else {
                layer.alert('获取公司列表出错', {icon: 2});
            }

        },'json');
	});

    $("#wechat_img_preview").click(function () {
        $('#file').trigger('click');
    });

    var options = {
        //target: '#output',          //把服务器返回的内容放入id为output的元素中
        //beforeSubmit: showRequest,  //提交前的回调函数
        success: function (result) {  //提交后的回调函数
            console.log(result.code);
            if(result.code){
                $('#wechat_img').val(result.data);
                $('#wechat_img_preview').attr('src',result.data);
            }else {
                layer.alert(result.msg, {icon: 2});
            }
            $("#file").val('');
        },
        //url: url,                 //默认是form的action， 如果申明，则会覆盖
        //type: type,               //默认是form的method（get or post），如果申明，则会覆盖
        dataType: "json",           //html(默认), xml, script, json...接受服务端返回的类型
        //clearForm: true,          //成功提交后，清除所有表单元素的值
        //resetForm: true,          //成功提交后，重置所有表单元素的值
        timeout: 3000               //限制请求的时间，当请求大于3秒后，跳出请求
    };
    $('#file').on('change',function () {
        $('#fileForm').ajaxSubmit(options);
        return false;
    });
</script>