{template 'member', 'header'}
<style type="text/css">
.detail{border-collapse:collapse; width:100%;}
.detail th, .detail td{border:1px solid #e5e5e5;}
.detail th, .detail td{padding:5px;}
.detail th{width:8em;}

.hide{display:none;}
</style>

<div id="memberArea">
{template 'member', 'account_manage_left'}

<table class="detail" style="margin-bottom:10px;">
    <tr>
        <th>账户号码</th>
        <td>{$memberinfo['username']}</td>
    </tr>
    <tr>
        <th>电子邮箱</th>
        <td>{if $memberinfo['email']}{$memberinfo['email']}{/if}</td>
    </tr>
    <tr>
        <th>{L('in_model')}</th>
        <td>{$member_model[$memberinfo['modelid']]['name']}</td>
    </tr>
  <tr>
    <th>{L('member_group')}</th>
    <td>{$grouplist[$memberinfo['groupid']]['name']}</td>
  </tr>
  <tr>
    <th>{L('account_remain')}</th>
    <td>{$memberinfo[amount]}{L('unit_yuan')}</td>
  </tr>
  <tr>
    <th>{L('point')}</th>
    <td>{$memberinfo[point]}{L('unit_point')}{if $memberinfo['vip']}，vip{L('overduedate')}：<span>{format::date($memberinfo['overduedate'])}</span>{/if}</td>
  </tr>
    <tr>
        <th>{L('regtime')}</th>
        <td>{FORMAT::date($memberinfo['regdate'] ,1)}</td>
    </tr>
    <tr>
        <th>{L('lastlogintime')}</th>
        <td>{FORMAT::date($memberinfo['lastdate'] ,1)}</td>
    </tr>
    <tr class="hide">
        <th>{L('regip')}</th>
        <td>{$memberinfo['regip']}</td>
    </tr>
    <tr class="hide">
        <th>{L('lastip')}</th>
        <td>{$memberinfo['lastip']}</td>
    </tr>
</table>
<p style="color:red;">以下是使用 [E名片]、[发布] 栏目时要求完善的部分信息：</p>
<table class="detail" style="margin-bottom:10px;">
  <tr>
    <th>我的头像</th>
    <td>
      <a class="key1" title="{L('modify').L('avatar')}" href="index.php?m=member&c=index&a=account_manage_avatar&t=1">
      <img src="{$avatar[90]}" width="60" height="60" onerror="this.src='{$phpsso_api_url}/statics/images/member/nophoto.gif'">
      </a>
    </td>
  </tr>
  <tr>
    <th>姓名名称</th>
    <td>
        {if $memberinfo['vip']}<img src="{IMG_PATH}icon/vip.gif">{elseif $memberinfo['overduedate']}<img src="{IMG_PATH}icon/vip-expired.gif" title="{L('overdue')}，{L('overduedate')}：{format::date($memberinfo['overduedate'],1)}">{/if}
        <font color="{$grouplist[$memberinfo[groupid]]['usernamecolor']}">
        {if $memberinfo['nickname']} {$memberinfo['nickname']} {else}匿名{/if}
        </font>
      </td>
  </tr>
    <tr>
        <th>{L('mp')}</th>
        <td>{if $memberinfo['mobile']}{substr($memberinfo['mobile'],0,3)}****{substr($memberinfo['mobile'],-4)}{/if}</td>
    </tr>
    {loop $member_modelinfo $k $v}
    <tr>
        <th>{$k}</th>
        {if $k == '单位行业'}
        <td>{get_table_field('category', 'catid', $v, $field = 'catname')}</td>
        {else}
        <td>{$v}</td>
        {/if}
    </tr>
    {/loop}
</table>
<p style="color:red;">注：发文章时，系统自动在“来源”框中写入【文章来源】信息。</p>
</div><!--/memberArea-->