<div class="menu">
  <ul>
    <li{if ROUTE_A=="card_published" && $_GET["catid"]=="545"} class="on"{/if}><a href="index.php?m=member&c=content&a=card_published&siteid=4&catid=545&t={$_GET['t']}">大轮播图</a></li>
    <li{if ROUTE_A=="card_published" && $_GET["catid"]=="547"} class="on"{/if}><a href="index.php?m=member&c=content&a=card_published&siteid=4&catid=547&t={$_GET['t']}">业务中心</a></li>
    <li{if ROUTE_A=="card_published" && $_GET["catid"]=="548"} class="on"{/if}><a href="index.php?m=member&c=content&a=card_published&siteid=4&catid=548&t={$_GET['t']}">我的展示</a></li>
    <li{if ROUTE_A=="my_concern"} class="on"{/if}><a href="index.php?m=member&c=index&a=my_concern&t={$_GET['t']}">我的名片夹</a></li>
    <li{if ROUTE_A=="interview_count"} class="on"{/if}><a href="index.php?m=member&c=index&a=interview_count&t={$_GET['t']}">访客统计</a></li>
    <li{if ROUTE_A=="concern_me"} class="on"{/if}><a href="index.php?m=member&c=index&a=concern_me&t={$_GET['t']}">我的粉丝</a></li>
    <li{if ROUTE_A=="my_tweets"} class="on"{/if}><a href="index.php?m=member&c=index&a=my_tweets&t={$_GET['t']}">我的推文</a></li>
    <li{if ROUTE_A=="account_manage_info" && $_GET["type"]=="card_status"} class="on"{/if}><a href="index.php?m=member&c=index&a=account_manage_info&t={$_GET['t']}&type=card_status">名片状态</a></li>
  </ul>
  <span class="o1"></span><span class="o2"></span><span class="o3"></span><span class="o4"></span>
</div>