{template 'member', 'header'}
<script type="text/javascript">
<!--
	var charset = '{CHARSET}';
	var uploadurl = '{php echo pc_base::load_config('system','upload_url')}';
//-->
</script>
<link href="{CSS_PATH}dialog.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{JS_PATH}dialog.js"></script>
<script language="javascript" type="text/javascript" src="{JS_PATH}content_addtop.js"></script>
<script type="text/javascript" src="{JS_PATH}jquery.form.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="{JS_PATH}layer/layer.js" charset="UTF-8"></script>
<div id="memberArea">
	{template 'member', 'card_left'}
	<div class="col-auto">
		<div class="col-1 ">
			<h5 class="title">{L('edit')}</h5>
			<div class="content">

			<form method="post" action="" id="myform" name="myform">
				<table width="100%" cellspacing="0" class="table_form">
				{if ROUTE_A=='publish'}
				<script language="JavaScript">
				<!--
					function c_c(catid) {
						location.href='index.php?m=member&c=content&a=publish&siteid={$siteid}&catid='+catid;
					}
				//-->
				</script>
					<tr>
						<th>栏目：</th>
						<td><input type="text" style="width:400px;" value="{$CATEGORYS[$catid][catname]}" class="measure-input" readonly></td>
					</tr>
				{/if}
					<input type="hidden" name="info[catid]" id="catid" value="{$catid}">
					{loop $forminfos $k $v}
					{if $k == 'title'}
					<tr>
						<th width="100">{if $v['star']} <font color="red">*</font>{/if} {$v['name']}：</th>
						<td>{$v['form']}{if $v['tips']}{$v['tips']}{/if}</td>
					</tr>
					{elseif $k == 'thumb'}
					<tr>
						<th width="100">缩略图：</th>
						<td>
							<div class="upload-pic img-wrap">
								<input type="hidden" name="info[thumb]" id="thumb" value="{$r['thumb']}">
								<a><img src="{$r['thumb']}" onerror="this.src='/statics/images/icon/upload-pic.png'" id="wechat_img_preview" style="cursor:hand" width="135" height="113"></a>
							</div>
						<td>
					</tr>
					{/if}
					{/loop}
					<tr>
						<th></th>
						<td>
						<input name="forward" type="hidden" value="{HTTP_REFERER}">
						<input name="id" type="hidden" value="{$id}">
						<input name="dosubmit" type="submit" id="dosubmit" value="{L('submit')}" class="button"></td>
					</tr>
				</table>
			</form>

			</div>
			<span class="o1"></span><span class="o2"></span><span class="o3"></span><span class="o4"></span>
		</div>
	</div>
</div>
<form id="fileForm" enctype="multipart/form-data" action="index.php?m=content&c=index&a=upload" method="post">
	<input type="file" id="file" name="upload" style="display: none;" multiple="multiple">
</form>
<div class="clear"></div>
<script type="text/javascript" src="/statics/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/statics/js/swfupload/swf2ckeditor.js"></script>
<script type="text/javascript">
<!--
//只能放到最下面
$(function(){
	$.formValidator.initConfig({formid:"myform",autotip:true,onerror:function(msg,obj){window.top.art.dialog({content:msg,lock:true,width:'200',height:'50'}, 	function(){$(obj).focus();
	boxid = $(obj).attr('id');
	if($('#'+boxid).attr('boxid')!=undefined) {
		check_content(boxid);
	}
	})}});
	{$formValidator}
})
//-->
</script>
{template 'member', 'footer'}
<script>
    $("#wechat_img_preview").click(function () {
        $('#file').trigger('click');
    });

    var options = {
        //target: '#output',          //把服务器返回的内容放入id为output的元素中
        //beforeSubmit: showRequest,  //提交前的回调函数
        success: function (result) {  //提交后的回调函数
            console.log(result.code);
            if(result.code){
                $('#thumb').val(result.data);
                $('#wechat_img_preview').attr('src',result.data);
            }else {
                layer.alert(result.msg, {icon: 2});
            }
            $("#file").val('');
        },
        //url: url,                 //默认是form的action， 如果申明，则会覆盖
        //type: type,               //默认是form的method（get or post），如果申明，则会覆盖
        dataType: "json",           //html(默认), xml, script, json...接受服务端返回的类型
        //clearForm: true,          //成功提交后，清除所有表单元素的值
        //resetForm: true,          //成功提交后，重置所有表单元素的值
        timeout: 3000               //限制请求的时间，当请求大于3秒后，跳出请求
    };
    $('#file').on('change',function () {
        $('#fileForm').ajaxSubmit(options);
        return false;
    });
</script>