{template 'member', 'header'}
<link href="{CSS_PATH}dialog.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{JS_PATH}dialog.js"></script>
<script language="javascript" type="text/javascript" src="{JS_PATH}content_addtop.js"></script>
<style type="text/css">
.list{border-collapse:collapse; width:100%; border:1px solid #e5e5e5;}
.list th, .list td{padding:5px; border:1px solid #e5e5e5;}
.list th{background-color:#eee;}
.list td{overflow:hidden;}
#pages{margin-top:20px; text-align:center;}
</style>

<div id="memberArea">
	{template 'member', 'publish_left'}

			<h5 class="title">{L('select_site')}</h5>
			<div class="content">
			<form method="post" action="" id="myform" name="myform">
				<table class="list">
				<script language="JavaScript">
				<!--
					function c_c(siteid) {
						location.href='index.php?m=member&c=content&a={ROUTE_A}&siteid='+siteid;
					}
				//-->
				</script>
				<thead>
				<tr>
				<th width="15%">{L('site_name')}</th>
				<th>{L('site_info')}</th>
				<th width="5%">{L('select')}</th>
				</thead>
				<tbody>
					{loop $sitelist $k $v}
					{if $v['siteid'] != 2 && $v['siteid'] != 3}
					<tr>
						<td align="center">{$v['name']}</td>
						<td>{$v['description']}</td>
						<td align="center"><input type="radio" value="{$v[siteid]}" onclick="c_c(this.value)"></td>
					</tr>
					{/if}
					{/loop}
				</tbody>
				</table>
			</form>

			</div>
			<span class="o1"></span><span class="o2"></span><span class="o3"></span><span class="o4"></span>
</div>
<div class="clear"></div>