<div class="col-left col-1 left-memu">
	<h6 class="title">{L('financial_management')}</h6>
	<ul>
	{if module_exists('pay')}
		<li{if ROUTE_A=="pay" && ROUTE_C=="deposit"} class="on"{/if}><a href="index.php?m=pay&c=deposit&a=pay&t={$_GET['t']}"><img src="{IMG_PATH}icon/m_4.png" width="15" height="16" /> {L('online_charge')}</a></li>
		<li{if ROUTE_A!="pay" && ROUTE_C=="deposit"} class="on"{/if}><a href="index.php?m=pay&c=deposit&a=init&t={$_GET['t']}"><img src="{IMG_PATH}icon/m_8.png" width="16" height="16" /> {L('pay_log')}</a></li>
		<li{if ROUTE_A!="pay" && ROUTE_C=="spend_list"} class="on"{/if}><a href="index.php?m=pay&c=spend_list&a=init&t={$_GET['t']}"><img src="{IMG_PATH}icon/table-information.png" width="16" height="16" /> {L('cost_log')}</a></li>
		<li{if ROUTE_A=="change_credit"} class="on"{/if}><a href="index.php?m=member&c=index&a=change_credit&t={$_GET['t']}"><img src="{IMG_PATH}icon/coins_add.png" width="16" height="16" /> {L('credit_change')}</a></li>
	{/if}
		<li><a href="#"><img src="{IMG_PATH}icon/vcard.png" width="16" /> 我带来的用户</a></li>
		<li><a href="#"><img src="{IMG_PATH}icon/vcard.png" width="16" /> 我的返利收益</a></li>
		<li><a href="#"><img src="{IMG_PATH}icon/vcard.png" width="16" /> 帮助中心</a></li>
	</ul>
	<span class="o1"></span><span class="o2"></span><span class="o3"></span><span class="o4"></span>
</div>