{template 'member', 'header'}
<link href="{CSS_PATH}dialog.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{JS_PATH}dialog.js"></script>
<script language="javascript" type="text/javascript" src="{JS_PATH}content_addtop.js"></script>
<div id="memberArea">
	<div class="col-left col-1 left-memu">
		<ul>
			<li><a href="#"><img src="{IMG_PATH}icon/vcard.png" width="16" /> 我带来的用户</a></li>
			<li><a href="#"><img src="{IMG_PATH}icon/vcard.png" width="16" /> 我的返利收益</a></li>
			<li><a href="#"><img src="{IMG_PATH}icon/vcard.png" width="16" /> 帮助中心</a></li>
		</ul>
		<span class="o1"></span><span class="o2"></span><span class="o3"></span><span class="o4"></span>
	</div>
</div>
<div class="clear"></div>
{template 'member', 'footer'}